data/*
.ipynb_checkpoints/*
x_train_date_feats_0.pickle
x_test_date_feats_0.pickle
train_line_time.csv
x_train_date_feats_*.pickle
x_test_date_feats_*.pickle
x_train_numeric_feat_*.pickle
x_test_numeric_feat_*.pickle
x_train_numeric_date_*.pickle
x_test_numeric_date_*.pickle
x_test_numeric_date_*.zip
x_train_numeric_date_*.zip
benchmark_features/benchmark_8/*.hdf
*.hdf
benchmark_features/hpopt_1/hpop_test_1.zip
benchmark_features/hpopt_1/hpop_test_1_result_1/